h1{
  text-align: center;
}

header {
   padding: 3px;
   text-align: center;
   background: #333;
   color: white;
   font-size: 20px;
 }

body{
  background-color: #ddddbb;
  margin: 0;
}

main{
  height: 480px;
  text-align: center;
  margin-top: 50px;
}

.picture{
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

footer {
    background-color: #333;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
  }



.sidebar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display: inline-block;
}

.sidebar li {
  float: left;
}

.sidebar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.sidebar li a:hover:not(.active) {
  background-color: #4CAF50;
}

.sidebar li a.active {
  color: white;
  background-color: #4CAF50;
}

section p{
  width: 500px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 70%;
  margin: 50px auto;

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 7px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
